@media (width > 540px) {
    .service-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-col:nth-child(4) {
        grid-area: 2/1/3/2;
    }
}

@media (width > 768px) {
    nav {
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}